<div id="buttons">
  <p>buttons works!</p>
  <mat-toolbar
    style="display: flex;flex-direction:row;justify-content:space-between;"
  >
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <div
    style="
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
  "
  >
    <button mat-flat-button color="primary">Button</button>
    <button mat-flat-button color="secondary">Button</button>
    <button mat-flat-button color="warn">Button</button>
    <button mat-flat-button color="info">Button</button>
    <button mat-flat-button color="accent">Button</button>
  </div>
</div>
